.top-bar{
  color:#E1C68E;
  background-color: #8E1D18;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-bottom: 5em;
}
#left-stripe1{
  background-color: #E1C68E;
  height: 6em;
  width: 1em;
}
#left-stripe2{
  background-color: #E1C68E;
  height: 6em;
  width: 1em;
}
#right-stripe1{
  background-color: #E1C68E;
  height: 6em;
  width: 1em;
}
#right-stripe2{
  background-color: #E1C68E;
  height: 6em;
  width: 1em;
}
#title{
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 2em;
  margin-right: 4em;
}
#author{
  font-size: 2.5em;
  font-family: cursive;
  margin-right: 2em;
}

@media (max-width: 900px){
  #title{
    font-size: 2.5em;
    font-weight: bold;
    margin-left: .5em;
    margin-right: .5em;
  }
  #author{
    margin-right: .5em;
    font-size: 2.5em;
  }
}

.body{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages5.alphacoders.com%2F389%2Fthumb-1920-389874.jpg&f=1&nofb=1);
  background-size: 100%;
} 
/* #container{
  width: auto;
} */
 * table 
        {
          background-color:#EBC98C;
            width: 65%;
            font: 17px;
        }
        table, th, td 
        {
            border: solid .5px black;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            word-wrap: break-word;
        }
      
        input[type='button'] 
        {
            font: 15px;
            cursor: pointer;
            border: none;
            color: #FFF;
        }
        
        input[type='text'], select 
        {
            font: 17px;
            text-align: center;
            border: solid 1px #CCC;
            width: auto;
            padding: 2px 3px;
        }